* {
    margin: 0;
    padding: 0%;
}

.top_page{
    width: 2005px;
    height: 180px;
    background-color: #4485D1;
    background-image: url(../img/pattern.png);
}

.logo {
    width: 300px;
    height: 150px;
    margin-top: 50px;
    margin-left: 20px;     
}

.author {
    color: rgb(150, 150, 150);
}

a {
    text-decoration: none;
    color: rgb(8, 179, 235);
}

main, footer {
    margin: 20px;
    font-weight: bold;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

ul {
    margin-bottom: 20px;
    margin-left: 10px;
}

table {
    margin-left: -15px;
        
}

thead {
    background-color: rgb(32, 169, 229);
    color: white;    
}

td, .highlightedBlue{
    background-color: rgb(177, 229, 242);
}

td, .highlightedWhite{
    background-color: white;
}

.highlightedYellow {
    background-color: yellow;
}

.graywriting{
    color: rgb(150, 150, 150);
}

.banner_one {
    background-image: url(../img/monitor.jpg);    
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    color: white;    
    font-size: 25px;    
}

.banner_two {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    color: white;    
    font-size: 25px;  
    
}




